.u-section-1 .u-sheet-1 {
  min-height: 1324px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 383px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -4px -3px 0 4px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 0 4px -11px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 341px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 9px 4px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 288px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 4px;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-4 {
  padding: 25px 12px;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 0 18px;
}

.u-section-1 .u-text-8 {
  margin: 0 18px;
}

.u-section-1 .u-text-9 {
  font-style: normal;
  margin: 1px 18px 0;
}

.u-section-1 .u-text-10 {
  margin: 1px 36px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 0 18px;
}

.u-section-1 .u-text-12 {
  margin: 7px 4px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 183px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-text-14 {
  margin: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 424px;
}

.u-section-1 .u-container-layout-6 {
  padding: 11px 30px;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-text-16 {
  margin: 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 151px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 349px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}
